div(*ngIf="!list && !error")
  h1.text-center
    i.fa.fa-spin.fa-refresh
div(*ngIf="list")
  h1 Editing {{ list.title }}
  .form-group
    input.form-control.form-control-lg([(ngModel)]="list.title" autofocus)
  .item(*ngFor="let item of list.items")
    a.checkbox((click)="item.done = !item.done")
      i.fa.fa-2x.fa-left([class.fa-square-o]="!item.done", [class.fa-check-square]="item.done")
    .item-title
      input.form-control([(ngModel)]="item.title" autofocus)
  .form-group
    .row
      .col
        button.btn.btn-min-width.btn-secondary((click)="list.items.push(newItem())") Add a new item
      .col
        button.btn.btn-min-width.btn-success.float-right((click)="save()")
          span(*ngIf="!saving") Save
          i.fa.fa-spin.fa-refresh(*ngIf="saving")
.alert.alert-danger(*ngIf="error" role="alert") {{ error }}
