log-in-modal(#logInModal)
h1 OneDB Data Explorer
p.
  This site allows you to browse, modify, and delete data on your OneDB accounts.
p.
  Below are the datasets currently available in OneDB.
  Developers may be interested in
  <a href="https://docs.one-db.org/Create_an_App/Data_Schemas" target="_blank">
  creating a new dataset
  </a>.
.row
  .col
    h4 My Data
    div(*ngIf="!usage || !usage.namespaces?.length")
      p(*ngIf="!onedb.client.hosts.primary.user")
        a((click)="logInModal.open()" href="javascript:void(0)") Sign in to see your data
      p(*ngIf="onedb.client.hosts.primary.user")
        i You haven't added any data to this OneDB instance yet.
    div(*ngIf="usage && usage.namespaces?.length")
      p Below are the datasets that contain information you've created while using OneDB apps.
      ul
        li(*ngFor="let namespace of usage.namespaces")
          a([routerLink]="['/data', namespace]") {{namespace}}
  .col
    h4 All Data
    p Below are all the datasets currently available on OneDB.
    //.form-group
      .input-group
        input.form-control(type="text", [(ngModel)]="query")
        .input-group-append
          a.btn.btn-success([routerLink]="['/data', query]") View Data
    div(*ngIf="allNamespaces")
      ul
        li(*ngFor="let namespace of allNamespaces")
          a([routerLink]="['/data', namespace.$.id]") {{ namespace.$.id }}
