log-in-modal(#logInModal)
h1 OneDB Data Explorer
p.
  This site allows you to browse, modify, and delete data on your OneDB accounts.
p(*ngIf="!onedb.client.hosts.primary.user")
  a((click)="logInModal.open()" href="javascript:void(0)") Sign in to get started
div(*ngIf="onedb.client.hosts.primary.user")
  p.
    Below are the namespaces you've already interacted with.
    You can also enter another namespace you'd like to view.
  .row
    .col
      h4 My Data
      p(*ngIf="!onedb.client.hosts.primary.user.namespaces?.length")
        i You haven't added any data to this OneDB instance yet.
      ul
        li(*ngFor="let namespace of onedb.client.hosts.primary.user.namespaces")
          a([routerLink]="['/data', namespace]") {{namespace}}
    .col
      h4 Other Data
      .form-group
        .input-group
          input.form-control(type="text", [(ngModel)]="query")
          .input-group-append
            a.btn.btn-success([routerLink]="['/data', query]") View Data
