log-in-modal(#logInModal)
h1 OneDB Data Viewer
p.
  This site allows you to browse, modify, and delete data on your OneDB accounts.
p(*ngIf="!user")
  a((click)="logInModal.open()" href="javascript:void(0)") Sign in to get started
div(*ngIf="user")
  p You're logged in as {{ user.$.id }}
  .form-group
    label Choose a Space:
    .input-group
      .input-group-prepend
        span.input-group-text
          i.fa.fa-search
      input.form-control(type="text", [(ngModel)]="query")
  ul
    li(*ngFor="let namespace of user.namespaces", [hidden]="query && namespace.indexOf(query) === -1")
      a([routerLink]="['/data', namespace]") {{namespace}}
