form((submit)="signIn()")
  .form-group
    p Enter the server you want to log into, then click "Log In".
    .input-group
      input.form-control([(ngModel)]="host" name="host")
      .input-group-append
        button.btn.btn-outline-secondary(type="submit") Log In
div(*ngIf="user")
  h2 You're logged in as {{ user.id }}
