log-in-modal(#logInModal)
h1 Hey there!
p.
  Open To-Do is a free and open source tool for creating to-do lists.
p.
  Open Todo uses OneDB
  for cloud storage, which means <b>you</b> get to decide where your data is stored -
  in the cloud, or on your company's servers, or on your local hard drive.
p(*ngIf="!onedb.client.hosts.primary.user")
  a((click)="logInModal.open()" href="javascript:void(0)") Sign in
  span  or 
  a((click)="logInModal.open()" href="javascript:void(0)") get a free account

.alert.alert-danger(*ngIf="error" role="alert") {{ error }}
div(*ngIf="onedb.client.hosts.primary.user")
  hr
  h2.text-center Your To-Do Lists
  h2(*ngIf="!lists")
    i.fa.fa-spin.fa-refresh
  div(*ngIf="lists")
    div(*ngIf="!lists.length")
      h1.text-center
        i.fa.fa-4x.fa-list-ul
      p.text-center
        span You haven't made any to-do lists. 
        a(routerLink="/new-list") Start one now
    div(*ngIf="lists.length")
      .list(*ngFor="let list of lists")
        h4
          a([routerLink]="['/list', list.$.id]") {{ list.title }}
      a.btn.btn-min-width.btn-success(routerLink="/new-list") Create a new to-do list
