ng-template(#content let-c="close" let-d="dismiss")
  .modal-header
    h4.modal-title
      span(*ngIf="!onedb.client.hosts.primary.user") Log In or Sign Up
      span(*ngIf="onedb.client.hosts.primary.user") Log Out or Switch Accounts
    button.close(type="button", class="close", aria-label="Close", (click)="d('Cross click')")
      span(aria-hidden="true") &times;
  .modal-body
    p Open Todo uses OneDB, so <b>you</b> get to decide where your data is stored.
    p.
      You can create a free account on one-db.datafire.io
      <a target="_blank" href="https://docs.one-db.org/Host_an_Instance">
        host your own instance
      </a>, or choose another provider.
    div([innerHtml]="formContent")
