.alert.alert-danger(*ngIf="error") {{ error }}
div(*ngIf="chat")
  div([ngSwitch]="acl?.owner === freedb.client.hosts.primary.user?.$.id")
    .form-group(*ngSwitchCase="true")
      .input-group
        input.input-lg.form-control(placeholder="Name this conversation...", [(ngModel)]="chat.title")
        .input-group-append
          button.btn.btn-success((click)="save()", [disabled]="saving")
            span(*ngIf="!saving") Save
            i.fa.fa-spin.fa-refresh(*ngIf="saving")
    h1(*ngSwitchCase="false") {{ chat.title || chat.$.id }}
  .message-list(#messageList, [style.max-height]="maxChatHeight + 'px'")
    .text-center(*ngIf="hasEarlierMessages")
      button.btn.btn-link((click)="loadEarlierMessages()")
        span Load more messages
        i.fa.fa-right.fa-arrow-up
    .message(*ngFor="let message of messages")
      .info
        span {{ message.$.info.created_by }}
        span  {{ prettyDate(message.$.info.created) }}
        i(*ngIf="message.$.info.created !== message.$.info.updated")  (edited)
      div([innerHtml]="marked(message.message)")
      hr
  .form-group
    textarea.form-control(placeholder="Write a new message", [(ngModel)]="message", (keydown)="onKey($event)")
  .form-group
    button.btn.btn-lg.btn-success((click)="sendMessage()") Send
