ng-template(#content let-c="close" let-d="dismiss")
  .modal-header
    h4.modal-title Manage Accounts
    button.close(type="button", class="close", aria-label="Close", (click)="d('Cross click')")
      span(aria-hidden="true") &times;
  .modal-body
    p OneChat uses OneDB, so <b>you</b> get to decide where your data is stored.
    p.
      We recommend creating a free account on onedb.datafire.io. You can also
      host your own server for private storage.
    div([innerHtml]="formContent")
