ng-template(#content let-c="close" let-d="dismiss")
  .modal-header
    h4.modal-title Manage Accounts
    button.close(type="button", class="close", aria-label="Close", (click)="d('Cross click')")
      span(aria-hidden="true") &times;
  .modal-body
    div([innerHtml]="formContent")
