extends layout.pug
block head
    script.
      var CODE = !{JSON.stringify(code)};

      function showError(msg) {
        $('.alert.alert-danger').text(msg).css('opacity', 1);
      }

      function hideError() {
        $('.alert.alert-danger').css('opacity', 0);
      }

      function showLoading() {
        $('button.btn-success').attr('disabled', true);
        $('button.btn-success span').hide();
        $('button.btn-success i.fa').show();
      }

      function hideLoading() {
        $('button.btn-success').attr('disabled', false);
        $('button.btn-success span').show();
        $('button.btn-success i.fa').hide();
      }

      function resetPassword() {
        var data = {code: CODE, newPassword: $('input[name="password"]').val()};
        $.ajax({
          type: 'POST',
          url: '/users/reset_password',
          headers: {'Content-Type': 'application/json'},
          data: JSON.stringify(data),
        })
        return false;
      }

block body
    .row
      .col-12.col-md-6.offset-md-3
        .alert.alert-danger(style="opacity: 0")
          span &nbsp;
        .card
          .card-body
            h2.card-title Reset your password
            .form-group
              label New Password
              input.form-control(type="password" name="password")
            .form-group
              label Confirm Password
              input.form-control(type="password" name="confirmPassword")
            .form-group
              button.btn.btn-success(type="submit")
                i.fa.fa-spin.fa-refresh(style="display: none")
                span Reset Password
