div(*ngIf="namespace")
  h1 {{ namespace.$.id }}
  p Below is all your data in the {{ namespace.$.id }} space
.row
  .col.space(*ngFor="let datum of data; let idx = index;")
    h2 {{ datum.type }}
    table
      tr.item(*ngFor="let item of datum.dataset.items")
        td
          a([routerLink]="['/data', namespace.$.id, datum.type, item.$.id]")
            span {{ item.$.id }}
        td
          span(*ngIf="item.title")  {{ item.title }}
    ul.pagination(*ngIf="datum.dataset.pages")
      li.page-item(*ngFor="let page of datum.dataset.pages", [class.active]="page.active")
        button.page-link((click)="goToPage(idx, page.skip)", [disabled]="page.disabled") {{ page.label }}
