h1(*ngIf="namespace") Viewing data in the {{ namespace._id }} Space
.space(*ngFor="let datum of data")
  h2 {{ datum.type }}
  .item(*ngFor="let item of datum.dataset")
    a([routerLink]="['/data', namespace._id, datum.type, item._id]")
      span {{ item._id }}
    span(*ngIf="item.title")  - {{ item.title }}
