.content
  .sidebar([style.width]="sidebarWidth + 'px'")
    .form-group
      button.btn.btn-dark((click)="collapsed ? expand() : collapse()")
        i.fa([class.fa-bars]="collapsed", [class.fa-times]="!collapsed")
    rooms([hidden]="collapsed")
  .main-content([style.margin-left]="sidebarWidth + 'px'")
    chat
