nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(routerLink="/") Brand
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent")
    .collapse.navbar-collapse#navbarSupportedContent
      ul.navbar-nav.ml-auto
        li
          a.nav-link(routerLink="/home") Home

